// Colors
$hr-green: #6db24f;
$hr-dark-gray: #333;
$hr-gray: #555;
$hr-light-gray: #777;

// Spacing
$hr-row-padding: 7.5rem;
$hr-block-padding: 4.688rem;

// Header
$hr-header-height: 5rem;

// Breakpoints
$br-medium: 40rem;
$br-large: 64rem;
$br-xlarge: 75rem;
$br-xxlarge: 90rem;
