@mixin hr-frontpage-row {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  @media (min-width: $br-large) {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

@mixin hr-frontpage-title($title-color, $line-color, $center: false) {
  position: relative;
  margin-bottom: 2.5rem;
  font-weight: bold;
  font-size: 2.625rem;
  color: $title-color;

  @if $center {
    text-align: center;
  } @else {
    text-align: left;
  }

  @media (min-width: $br-medium) {
    font-size: 2.625rem;
  }

  &:after {
    content: "";
    position: absolute;
    @if $center {
      left: 43%;
    } @else {
      left: 0;
    }
    top: 100%;
    width: 14%;
    height: 3px;
    margin: 10px auto;
    background-color: $line-color;
  }
}

@mixin hr-frontpage-description($color) {
  font-size: 1.125rem;
  color: $color;
}
