@mixin hr-button {
  padding: 0.4em 1.5em;
  font-size: 0.9375rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 3px;
}

@mixin hr-button-hover($color, $background-color) {
  transition: color 0.2s ease, background-color 0.2s ease;

  &:hover {
    color: $color;
    background-color: $background-color;
  }
}

@mixin hr-link-hover($color) {
  transition: color 0.2s ease;

  &:hover {
    color: $color;
  }
}
