html {
  scroll-padding-top: $hr-header-height;
}

body {
  font-family: "Poppins", sans-serif;
  background: #efefef;
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 320px;
  font-weight: normal;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Poppins", sans-serif;
}
