.articles {
  @include breakpoint(medium down) {
    margin-top: 2rem;
  }
  &__item {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
  }
  &__title {
    color: $hr-dark-gray;
    font-weight: bold;
    position: relative;
    margin-bottom: 2.5rem;
    width: 100%;
    text-align: left;
    font-size: 2.125rem;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: inherit;
      top: 100%;
      margin: 5px auto;
      width: 15%;
      height: 3px;
      background: $hr-green;
    }
  }
  &__date {
    color: #999999;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 1rem;
  }
  &__date-value {
    color: #777777;
  }
  &__author {
    color: #555555;
    text-decoration: underline;
    padding: 0 0.3rem;
    &:hover {
      color: $hr-green;
    }
  }
  &__excerpt {
    color: #777777;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3rem;
    margin-bottom: 1rem;
  }
  &__read-more {
    text-align: center;
    color: $white;
    font-size: 0.9375rem;
    font-weight: 500;
    background: #555555;
    border-radius: 3px;
    padding: 0.3rem 1.8rem;
    transition: 0.1s ease-in-out;
    &:hover {
      background: $hr-green;
      color: $white;
    }
    @include breakpoint(small only) {
      width: 100%;
      display: inline-block;
    }
  }
}
