.blog-search {
  position: relative;

  &__input {
    position: relative;
    border-radius: 3px;
    padding-right: 48px;
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    padding-top: 10px;
    text-align: center;
    border-radius: 0 3px 3px 0;
    color: $white;
    background-color: $hr-green;
    cursor: pointer;

    @include hr-button-hover($white, $hr-dark-gray);
  }
}
