.footer-nav {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr;
  padding: 4em 0;
  text-align: center;

  @media (min-width: $br-medium) {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }

  @media (min-width: $br-large) {
    grid-template-columns: repeat(4, 1fr);
  }

  &__section {
  }

  $footer-section-header-gap: 1em;

  &__header {
    color: $white;
    font-weight: bold;
    margin-bottom: $footer-section-header-gap;

    &:after {
      display: block;
      content: "";
      margin-left: auto;
      margin-right: auto;
      margin-top: $footer-section-header-gap;
      background-color: $hr-light-gray;
      width: 4em;
      height: 2px;

      @media (min-width: $br-medium) {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &__list {
  }

  &__item {
    margin-bottom: 0.6em;
    line-height: 1.2;
  }

  &__item-link {
    color: $hr-silver-gray;
    @include hr-link-hover($white);
  }
}
