.footer {
  color: #fff;

  &__nav-wrapper {
    background-color: #444;
    position: relative;
  }

  &__copyright-wrapper {
    background-color: #333;
  }

  &__nav,
  &__copyright {
    max-width: 96%;
    width: 1200px;
    margin: 0 auto;
  }

  &__scroll-up {
    position: absolute;
    top: -23px;
    right: 5%;
    width: 46px;
    height: 46px;
    background: $hr-green;
    border-radius: 50%;
    text-align: center;
    color: $white;
    font-size: 2rem;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      color: $hr-green;
      background-color: $white;
    }
  }
}
