.frontpage-documentation {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem 0;
  align-items: center;
  justify-items: center;

  @media (min-width: $br-large) {
    padding: 2.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 2rem;
  }

  &__text {
    @media (min-width: $br-large) {
      grid-row: 1;
      grid-column: 2;
    }
  }

  &__title {
    @include hr-frontpage-title($hr-dark-gray, $hr-green);
  }

  &__description {
    @include hr-frontpage-description($hr-light-gray);
  }

  &__image {
    display: block;
    position: relative;

    @media (min-width: $br-large) {
      grid-row: 1;
      grid-column: 1;
      margin: 3rem;
    }
  }
}
