.frontpage {
  &__row {
    max-width: 1200px;
    margin: 1.5rem auto;

    @media (min-width: $br-large) {
      margin: 2.5rem auto;
    }
  }

  &__inside {
    position: relative;
    background-color: $white;
  }

  &__inside_right:after,
  &__inside_left:before {
    position: absolute;
    top: 0;
    height: 100%;
    content: '';
    background-color: $white;
    width: 9999px;
  }

  &__inside_right:after {
    left: 100%;
  }

  &__inside_left:before {
    right: 100%;
  }
}
