.frontpage-two-cols {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $br-large) {
    @include hr-frontpage-row;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 1rem;
  }

  &__first,
  &__second {
    text-align: center;

    @media (min-width: $br-large) {
      text-align: left;
    }
  }

  &__first {
    margin-bottom: 1.5rem;
    @media (min-width: $br-large) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $br-xlarge) {
    &__first:before {
      right: 100%;
    }

    &__second:after {
      left: 100%;
    }

    &__first:before,
    &__second:after {
      position: absolute;
      top: 0;
      height: 100%;
      content: '';
      background-color: $white;
      width: 9999px;
    }
  }

  &__first,
  &__second {
    position: relative;
    padding: 2rem 1rem;
    background-color: $white;

    @media (min-width: $br-large) {
      padding: 2.5rem;
    }
  }

  &__title {
    @include hr-frontpage-title($hr-dark-gray, $hr-green, true);

    @media (min-width: $br-large) {
      @include hr-frontpage-title($hr-dark-gray, $hr-green);
    }
  }

  &__description {
    @include hr-frontpage-description($hr-light-gray);
  }
}
