.frontpage-about {
  display: block;
  margin: 2rem auto 0 auto;
  padding: 1rem 2rem;
  background: #f0f0f0;
  text-align: center;

  @media (min-width: $br-large) {
    width: 65%;
  }

  &__item {
    display: inline-block;
    position: relative;

    &:after {
      width: 5px;
      height: 5px;
      background: $hr-silver-gray;
      display: inline-block;
      content: '';
      border-radius: 50%;
      margin-bottom: 0.2rem;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  &__span {
    font-size: 1.125rem;
    color: $hr-dark-gray;
    font-weight: 500;
    padding-left: 0.3rem;
    padding-right: 0.4rem;
  }
}
