.frontpage-developers {
  @include hr-frontpage-row;
  background-color: $white;

  &__inside {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 1rem;
    text-align: center;

    @media (min-width: $br-large) {
      padding: 2.5rem;
    }
  }

  &__text {
    @media (min-width: $br-large) {
      grid-row: 1;
      grid-column: 2;
    }
  }

  &__title {
    @include hr-frontpage-title($hr-dark-gray, $hr-green, true);
  }

  &__description {
    @include hr-frontpage-description($hr-light-gray);
    margin-bottom: 2em;
  }

  &__team {
    max-width: 40rem;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  &__team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em 1em 1em;
  }

  &__member-picture {
    border-radius: 50%;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
  }

  &__member-name {
    color: $hr-light-gray;
    margin-top: 0.5em;
  }
}
