.header-mobile {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;

  @include hr-header-style;

  @include breakpoint(large up) {
    display: none;
  }

  &__button {
    padding: 2em 2em 2em 0;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__logo {
    flex: 1;
    text-align: center;
  }

  &__logo-link {
    padding: 2em 2em;
  }
}
