.header {
  padding: 0 2%;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include hr-header-style;

  @include breakpoint(medium down) {
    display: none;
  }

  &__logo {
  }

  &__nav {
    display: flex;
  }

  $header-nav-gap: 0.5rem;

  &__nav-item + &__nav-item {
    margin-left: $header-nav-gap;

    &:before {
      content: '●';
      display: inline-block;
      margin-right: $header-nav-gap;
      position: relative;
      bottom: 0.15em;
      font-size: 0.75rem;
      color: $hr-silver-gray;
    }
  }

  &__nav-link {
    color: $hr-gray;

    &:hover {
      color: $hr-green;
    }
  }

  &__nav-link_active {
    color: $hr-green;
  }

  &__action-signup,
  &__action-login {
    border-radius: 3px;
    padding: 0.4em 1.5em;
    margin-left: 0.6em;

    &:hover {
      color: $white;
      background-color: $hr-dark-gray;
    }
  }

  &__action-signup {
    color: $hr-gray;
    background-color: #eeeeee;
  }

  &__action-login {
    color: $white;
    background-color: $hr-green;
  }
}
