.header-mobile {
  display: none;
  height: 100%;
  @include breakpoint(medium down) {
    display: block;
  }

  &__overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 4;
  }

  &__action {
    @include grid-col(3, 0);
    text-align: right;
  }

  &__action_sidenav {
    width: 100%;
    text-align: center;
    margin-top: 1rem;

    .header__action-signup {
      display: inline-block;
      width: 100%;
      padding: 0;
      color: $hr-light-gray;
      font-size: 0.9375rem;
      font-weight: 400;

      &:hover {
        color: $hr-green;
      }
    }

    .header__action-login {
      width: 80%;
      margin: 0.2rem 0;
    }
  }

  &__action-signup {
    padding-right: 1rem;
    color: $hr-light-gray;
    font-size: 0.9375rem;

    &:hover {
      color: $hr-green;
    }
  }

  &__action-login {
    display: inline-block;
    padding: 0.6rem 1.5rem;
    border-radius: 3px;
    color: $white;
    background: $hr-green;
    font-size: 0.9375rem;
    line-height: 15px;
    cursor: pointer;

    &:hover {
      color: $white;
    }

    &:focus {
      outline: none;
    }
  }
}
