.header {
  display: none;

  @media (min-width: $br-large) {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;

    @include hr-header-style;
  }

  &__logo {
  }

  &__nav {
    display: flex;
  }

  &__nav-item {
    @include hr-dot-separated-list(0.5rem);
  }

  &__nav-link {
    color: $hr-dark-gray;
    @include hr-link-hover($hr-green);
  }

  &__nav-link_active,
  &__nav-item_active {
    color: $hr-green;
  }

  &__action-signup,
  &__action-login {
    margin-left: 0.6em;

    @include hr-button;
    @include hr-button-hover($white, $hr-dark-gray);
  }

  &__action-signup {
    color: $hr-gray;
    background-color: #eeeeee;
  }

  &__action-login {
    color: $white;
    background-color: $hr-green;
  }
}
