.header {
  display: none;

  @media (min-width: $br-large) {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;

    @include hr-header-style;
  }

  &__logo {
  }

  &__nav {
    display: flex;
  }

  &__nav-item + &__nav-item {
    $gap: 0.5rem;
    margin-left: $gap;

    &:before {
      content: '●';
      display: inline-block;
      margin-right: $gap;
      position: relative;
      bottom: 0.15em;
      font-size: 0.75rem;
      color: $hr-silver-gray;
    }
  }

  &__nav-link {
    color: $hr-gray;
    @include hr-link-hover($hr-green);
  }

  &__nav-link_active {
    color: $hr-green;
  }

  &__action-signup,
  &__action-login {
    border-radius: 3px;
    padding: 0.4em 1.5em;
    margin-left: 0.6em;

    @include hr-button-hover($white, $hr-dark-gray);
  }

  &__action-signup {
    color: $hr-gray;
    background-color: #eeeeee;
  }

  &__action-login {
    color: $white;
    background-color: $hr-green;
  }
}
