.image-grid {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  grid-gap: 1rem;

  @media (min-width: $br-large) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__item-wrapper {
    width: 100%;
    cursor: pointer;
  }
}
