// NOTE: slick-* classes are coming from react-slick carousel component
.image-slider {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: $hr-z-slideshow;
  display: grid;
  grid-template-rows: max-content 1fr;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: calc(0.75rem + 0.5vw);

  &__topbar {
    padding: 1rem 0.5rem;
    display: grid;
    grid-template-columns: 1fr 6% 1fr;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__title {
    color: $white;
    font-weight: bold;
    justify-self: flex-start;
  }

  &__count {
    color: $hr-light-gray;
    margin-bottom: 0;
  }

  &__close {
    justify-self: flex-end;
  }

  &__content {
    display: grid !important; // override display prop on .slick-list
    grid-template-columns: 6% 1fr 6%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    grid-template-areas: 'arrow_previous slide arrow_next';
    align-items: center;
  }

  & .slick-list {
    grid-area: slide;
  }

  & .slick-slide {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    text-align: center;
  }

  &__slide {
    border-radius: 0.6rem;
  }

  &__arrow_previous {
    grid-area: arrow_previous;
    justify-self: flex-start;
  }

  &__arrow_next {
    grid-area: arrow_next;
    justify-self: flex-end;
  }

  &__arrow_previous,
  &__arrow_next,
  &__close {
    display: grid;
    width: 2em;
    height: 2em;
    place-items: center;
    border-radius: 50%;
    border: 1px solid $white;
    font-size: 1.2em;
    color: $white;
    opacity: 0.5;

    & svg {
      margin: auto;
    }

    &:hover,
    &:focus {
      outline: none;
      opacity: 1;
      cursor: pointer;
    }
  }
}
