.page-404 {
  max-width: 1200px;
  margin: 4rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;

  $vertical-gap: 0.8rem;

  &__title {
    font-size: 1.5rem;
    margin: 0;

    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 1rem;
      margin: $vertical-gap auto 0;
      background-color: $hr-silver-gray;
    }
  }

  &__link {
    margin-top: $vertical-gap;

    @include hr-link-hover($hr-dark-gray);

    &:after {
      content: "";
      display: block;
      height: 3px;
      width: 8rem;
      margin: $vertical-gap auto 0;
      background-color: $hr-green;
    }
  }

  &__image {
    margin: 2rem 0;
  }
}
