.pricing {
  &__offer-list {
    display: block;
    list-style: none;
    color: $white;
    font-size: 1.125rem;
    line-height: 1.5em;
  }

  &__offer-item {
    display: block;
  }

  &__button {
    display: inline-block;
    margin-top: 1.5em;
    color: $hr-green;
    background-color: #fefefe;
    border: 1px solid transparent;

    @include hr-button;
    @include hr-button-hover($white, $hr-dark-gray);
  }
}
