.apps-nav {
  @include hr-container;

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  &__item {
    @include hr-dot-separated-list(0.5rem);
  }

  &__link {
    display: inline;
    color: $hr-gray;
    line-height: 2em;
  }

  &__link_active {
    color: $hr-green;
    text-decoration: underline;
  }
}
