.content-nav {
  &__title {
    display: none;
    position: relative;
    padding-top: 1rem;
    padding-left: 0;
    margin-bottom: 0;
    color: $hr-dark-gray;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;

    @media (min-width: $br-large) {
      display: block;
      padding-left: 1rem;
    }
  }

  &__title__link,
  &__title__link:hover,
  &__title__link:focus {
    color: $hr-dark-gray;
  }

  &__title_small {
    display: block;
    margin-bottom: 0;
    padding: 1rem;

    @media (min-width: $br-large) {
      display: none;
    }
  }

  &__title_small_bottom_border {
    border-bottom: 1px solid $hr-green;
  }

  &__list {
    display: block;
    padding: 0;

    @media (min-width: $br-large) {
      padding: 1rem 0;
    }
  }

  &__list_hidden {
    display: none;

    @media (min-width: $br-large) {
      display: block;
    }
  }

  &__arrow {
    color: $hr-green;
    font-size: 1.3em;
    float: right;
    cursor: pointer;
    display: block;

    @media (min-width: $br-large) {
      display: none;
    }
  }

  &__item {
    color: $hr-dark-gray;
    font-weight: 500;
    font-size: 0.9375rem;
    width: 100%;
    display: inline-block;
  }

  &__item_active {
    color: $white;

    .content-nav__link {
      color: $white;
      background: $hr-green;

      &:hover {
        color: $white;
      }
    }
  }

  &__link {
    display: block;
    padding: 0.25rem 0 0.25rem 1rem;
    color: $hr-dark-gray;
    font-weight: 500;
    font-size: 0.9375rem;

    @include hr-link-hover($hr-green);
  }
}
