.frontpage-full {
  @include hr-frontpage-row;

  &__inside {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 1rem;
    text-align: center;

    @media (min-width: $br-large) {
      padding: 2.5rem;
    }
  }

  &__text {
    @media (min-width: $br-large) {
      grid-row: 1;
      grid-column: 2;
    }
  }

  &__description {
    margin-bottom: 2em;

    > p {
      margin-bottom: 0.3em;
    }
  }

  &__actions {
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    align-items: center;
    justify-items: center;
    justify-content: center;

    @media (min-width: $br-medium) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__button {
    @include hr-button;
  }

  &__link {
    font-size: 0.9375rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline;
  }
}

.frontpage-full_green {
  background-color: $hr-green;

  .frontpage-full__title {
    @include hr-frontpage-title($white, $white, true);
  }

  .frontpage-full__description {
    @include hr-frontpage-description($white);
  }

  .frontpage-full__button {
    color: $hr-green;
    background-color: $white;
    @include hr-button-hover($white, $hr-dark-gray);
  }

  .frontpage-full__link {
    color: $white;
    @include hr-link-hover($hr-dark-gray);
  }
}

.frontpage-full_white {
  background-color: $white;

  .frontpage-full__title {
    @include hr-frontpage-title($hr-dark-gray, $hr-green, true);
  }

  .frontpage-full__description {
    @include hr-frontpage-description($hr-light-gray);
  }

  .frontpage-full__button {
    color: $white;
    background-color: $hr-green;
    @include hr-button-hover($white, $hr-dark-gray);
  }

  .frontpage-full__link {
    color: $hr-green;
    @include hr-link-hover($hr-dark-gray);
  }
}
