.frontpage {
  &__row {
    @include hr-frontpage-row;
  }

  &__row_oneside {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    &__in {
      position: relative;
      background-color: $white;
    }

    @media (min-width: $br-xlarge) {
      &__in_right:after,
      &__in_left:before {
        position: absolute;
        top: 0;
        height: 100%;
        content: "";
        background-color: $white;
        width: 9999px;
      }

      &__in_right:after {
        left: 100%;
      }

      &__in_left:before {
        right: 100%;
      }
    }
  }
}
