.mobile-bar {
  @media (min-width: $br-large) {
    display: none;
  }

  &__backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: $hr-z-mobile-bar-backdrop;
  }

  &__backdrop_open {
    display: block;
  }

  &__menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70%;
    max-width: 25em;
    background-color: $white;
    z-index: $hr-z-mobile-bar-menu;
  }

  &__menu_open {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    height: $hr-header-height;
    border-bottom: 4px solid $hr-green;
    font-size: 2rem;
    font-weight: 600;
    color: $hr-green;
  }

  &__header-button {
    padding-left: 0.5em;
  }

  &__header-title {
    text-align: center;
    text-transform: uppercase;
  }

  &__nav {
    flex: 1;
    padding-top: 2em;
    text-align: center;
  }

  &__nav-link {
    display: block;
    color: $hr-gray;
    margin-bottom: 1em;
    padding: 0 1em;

    @include hr-link-hover($hr-green);
  }

  &__nav-link_signup {
    margin-top: 2em;
  }

  &__nav-link_active {
    color: $hr-green;
  }

  &__login {
    display: block;
    padding: 0.3em 0;
    margin: 0 1em;
    color: $white;
    background-color: $hr-green;
    border-radius: 3px;

    @include hr-button-hover($white, $hr-dark-gray);
  }

  &__language {
    flex: 0 0 2em;
    display: flex;
    justify-content: center;

    &__item {
      margin: 0.5em 0.8em;
    }

    &__item_active {
      color: $hr-green;
    }

    &__link {
      color: $hr-gray;
      @include hr-link-hover($hr-green);
    }
  }
}
