.section {
  &__description {
    color: $hr-light-gray;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    font-size: 1.125rem;
  }

  &__description-link {
    display: inline-block;
    color: $hr-green;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    line-height: 1;

    @include hr-link-hover($hr-dark-gray);

    &:active,
    &:focus {
      color: $hr-dark-gray;
    }
  }

  &__description_white {
    color: $white;
  }
}
