// Colors
$hr-green: #6db24f;
$hr-dark-gray: #333333;
$hr-gray: #555555;
$hr-light-gray: #777777;
$hr-silver-gray: #cccccc;

// Spacing
$hr-row-padding: 7.5rem;
$hr-block-padding: 4.688rem;

// Header
$hr-header-height: 5rem;

// z-index
$hr-z-header: 10;
$hr-z-mobile-bar-backdrop: 20;
$hr-z-mobile-bar-menu: 30;

// Breakpoints
$br-medium: 40rem;
$br-large: 64rem;
$br-xlarge: 75rem;
$br-xxlarge: 90rem;
